/* src/components/Calculator.css */

.calculator {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282c34;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  }
  
  .calculator-display {
    margin-bottom: 20px;
  }
  
  .calculator-display input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    color: #ffffff;
    background-color: #333a42;
    border: none;
    border-radius: 5px;
    text-align: right;
  }
  
  .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .calculator-buttons button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    background-color: #4a4e59;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .calculator-buttons button:hover {
    background-color: #5c6370;
  }
  
  .calculator-buttons button:active {
    background-color: #3a3f4b;
  }
  
  .calculator-buttons button:nth-child(4n) {
    background-color: #640d8c; /* Color diferente para los operadores */
  }
  
  .calculator-buttons button:nth-child(4n):hover {
    background-color: #640d8c;
  }
  
  .calculator-buttons button:nth-child(4n):active {
    background-color: #640d8c;
  }
  